@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*
{
    padding: 0;
    margin: 0;
}

/*  HEADER */
header
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 80px;
    font-size: small;
    position: absolute;
    top: 0;
}

/* Nav */
header nav
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  Markai Container */
header nav div{}

/* Markai Title */
header nav div a
{
    color: white;
    font-size: 27px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Ul navigations */
header nav .navigations
{
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

/* navigations Li */
header nav .navigations .li
{
   
}

/*  Login And Register Container  */
header  nav .registerCon
{
    align-items: center;
    display: flex;
    justify-content:space-around;
    width: 85px;
    height:30px;
    font-family: 'Poppins', sans-serif;
}

/* Login Title  */
header nav .registerCon span
{
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Register Button  */
header  nav .registerCon button
{
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .2rem 2rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  margin-left: 10px;
  font-size: 15px;
} 


section
{
    padding: 50px 0;
    width: 100%;
    height: 100vh;
    background: 
    linear-gradient(217deg, rgba(115, 14, 146, 0.8), rgba(165, 10, 131, 0) 30.71%),
    linear-gradient(151deg, rgba(19, 132, 197, 0.514), rgba(36, 25, 139, 0.726) 35.71%),
    linear-gradient(180deg, rgba(3, 6, 41, 0.8), rgb(4, 9, 43) 30.71%),
    linear-gradient(36deg, rgba(166, 184, 12, 0.8), rgba(82, 128, 30, 0.87) 70.71%);
}   


section .marketingContainer
{
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

}

.sectionTitle
{
    width: 100%;
}
section h2
{
    font-family: 'Poppins', sans-serif;
    color: white;
}
section h1
{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    /* background: -webkit-linear-gradient(left,rgb(199, 33, 33) 10%, rgb(223, 247, 7)  30% ,rgb(4, 6, 29) 60%); */
    background: -webkit-linear-gradient(left,#00F0FF 3%, #5773FF 10% ,#FF007A 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

section div div
{
    width: 75%;
    text-align: center;
}

p
{
    font-family: 'Poppins', sans-serif;
    color: white;

}

.marketingContainer button
{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .2rem 2rem;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    margin-left: 10px;
    font-size: 15px;   
}